<link rel="stylesheet" href="/css/signup.css">

<h1>Sign up</h1>

<div id="signup-page-container">
    <form action="/user/create" method="POST">
        <label for="fname"><b>Username&nbsp;: &nbsp;</b></label>
        <input type="text " name="name" placeholder="enter name" required>
        <br><br>
        <label for="fmail"><b>Email&emsp; &nbsp;: </b></label>
        <input type="email" name="email" placeholder="Enter email"  required>
        <br><br>
        <label for="fpassword"><b>Password&nbsp;: &nbsp;</b></label>
        <input type="password" name="password" placeholder="enter password"  required>
        <br><br>
        <label for="Cpassword"><b>Password&nbsp;: &nbsp;</b></label>
        <input type="password" name="confirm_password" placeholder="Confirmation password"  required>
        <br><br>
        
        <input type="submit" value="sign Up" >
    
    </form>
</div>